<!--
  ~ Copyright (c) 2019 Shankar Konar
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="cms_heroimage" frontName="cms_heroimage">
            <module name="Shankar_CmsHeroImage" />
        </route>
    </router>
</config>